@charset "utf-8";

body{
	background-color: #121212 !important;
		
}
p, h2{
	color: #eeeeee;
	text-align: center;
}
.welcome{
	margin-top: 10px;
	font-size: 25px;
}
.pfp{
	border-radius: 50%;
	display: block;
	margin-left: auto;
 	margin-right: auto;
	margin-top: 70px;
	width: 15%;
	height: auto;
}
hr.round{
	border-top: 8px solid #A8A8A8;
  	border-radius: 5px;
	margin-left: 20%;
	margin-right: 20%;
}
.center{
	text-align: center;
}
img.disc-logo{
	display:block;
	margin-left: auto;
 	margin-right: auto;
	margin-top: 20px;
	height: 75px;
	width: auto;
}
img.twitch-logo{
	display:block;
	margin-left: auto;
 	margin-right: auto;
	margin-top: 50px;
	height: 85px;
	width: auto;
}
img.github-logo{
	display:block;
	margin-left: auto;
 	margin-right: auto;
	margin-top: 30px;
	height: 90px;
	width: auto;

}

div.container {
	color: #eeeeee;
  	text-align: center;
}

ul.myUL {
  	display: inline-block;
  	text-align: center;
}
img.render{
	display: flex;
	margin-left: auto;
 	margin-right: auto;
	margin-top: 30px;
	height: 200px;
	width: auto;
}
p.a{
	color: #eeeeee;
	text-align: center;
}